.text-center {
  text-align: center;
}
/* add to the lib */
.alert-box {
  border-radius: 0.3rem;
  padding: 1rem;
  font-size: 1rem;
  margin: 0;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--grey200);
}
/* Add to lib */
.link-no-style {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.alert-box .link-text {
  font-weight: 600;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background: rgb(9, 9, 121);
  background: radial-gradient(
    circle,
    var(--secondary-color) 0%,
    var(--primary-color) 100%
  );
}

.hero-text {
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 10rem;
}

.shop-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
}

.category-menu-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.spacer-1rem {
  width: 100%;
  height: 1rem;
}

.banner-card {
  position: relative;
  cursor: pointer;
}

.banner-card:hover {
  transition: all 200ms ease-in-out;
  transform: scaleY(1.05) scaleX(1.05);
}

.banner-card img {
  border-radius: 0.5rem;
  opacity: 0.9;
}

.banner-card-text-container {
  position: absolute;
  top: 0rem;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: rgb(234, 234, 236, 0.6);
}

.banner-card-text-container .heading {
  font-weight: 600;
  font-size: x-large;
  color: var(--primary-color);
}

@media screen and (max-width: 768px) {
  .category-menu-container {
    grid-template-columns: 1fr 1fr;
  }
}
